h1 {
    font-size: 40px;
    color: teal;
    font-family: 'Mountains of Christmas', cursive;
}
body {
    
    background-color: black;
}
p {
    font-size: 22px;
    color: white;
    font-family: 'Mountains of Christmas', cursive;
}